
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>
<ul class="course">
    
    {
        <li>
            <div class=" date">
                <div class=" month">
                </div>
                <div class="day">
                    
                </div>
            </div>
            <div class=" details">
                <span class=" lecturer">
                    
                    {
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id>Follow</button>
                    }

                </span>
                <span class=" category">
                   
                </span>
               
                {
                    <button data-course-id class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                }
            </div>
        </li>
    }

</ul>